language: node_js
node_js:
  - "node"
script: istanbul cover tape ./package/vuetron-app/test/specs/*.spec.js -r ./package/vuetron-app/test/helpers/setup.js
before_script:
  - npm install codeclimate-test-reporter istanbul -g
  - npm install tape -g
after_script:
  - CODECLIMATE_REPO_TOKEN=0880ca66f85611d032a2aeb735ebd6f71de030fa9b968e4bae37a073510a43f3 codeclimate-test-reporter < ./coverage/lcov.info